<!DOCTYPE html>
<html>
<head>
  <title>RefileImages</title>
  <%= stylesheet_link_tag    "refile_images/application", media: "all" %>
  <%= javascript_include_tag "refile_images/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
