<!DOCTYPE html>
<html>
<head>
  <title>RefileHassleless</title>
  <%= stylesheet_link_tag    "refile_hassleless/application", media: "all" %>
  <%= javascript_include_tag "refile_hassleless/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
